In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
lines = []
with open ('./data/raw/transactions.txt', 'r') as f:
    for line in f.readlines():
        lines.append(json.loads(line))

In [3]:
df = pd.DataFrame(lines)

In [4]:
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000.0,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000.0,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000.0,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000.0,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                786363 non-null  object
 8   merchantCountryCode       786363 non-null  object
 9   posEntryMode              786363 non-null  object
 10  posConditionCode          786363 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           786363 non-null  object
 19  echoBuffer                786363 non-null  object
 20  currentBalance            786363 non-null  float64
 21  merchantCity              786363 non-null  object
 22  merchantState             786363 non-null  object
 23  merchantZip               786363 non-null  object
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             786363 non-null  object
 26  recurringAuthInd          786363 non-null  object
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(4), object(22)
memory usage: 158.2+ MB

In [6]:
df.columns

Index(['accountNumber', 'customerId', 'creditLimit', 'availableMoney',
       'transactionDateTime', 'transactionAmount', 'merchantName',
       'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits',
       'transactionType', 'echoBuffer', 'currentBalance', 'merchantCity',
       'merchantState', 'merchantZip', 'cardPresent', 'posOnPremises',
       'recurringAuthInd', 'expirationDateKeyInMatch', 'isFraud'],
      dtype='object')

In [7]:
for col in df.columns:
    print(col, df[col].value_counts())
    print('*'*50)

accountNumber 380680241    32850
882815134    13189
570884863    10867
246251253    10172
369308035     7229
             ...
675656700        1
456500351        1
587921563        1
749645399        1
266636812        1
Name: accountNumber, Length: 5000, dtype: int64
**************************************************
customerId 380680241    32850
882815134    13189
570884863    10867
246251253    10172
369308035     7229
             ...
675656700        1
456500351        1
587921563        1
749645399        1
266636812        1
Name: customerId, Length: 5000, dtype: int64
**************************************************
creditLimit 5000.0     201863
15000.0    139307
7500.0      97913
2500.0      75429
20000.0     68629
10000.0     56889
50000.0     48781
1000.0      36430
250.0       34025
500.0       27097
Name: creditLimit, dtype: int64
**************************************************
availableMoney 250.00      6015
5000.00     5400
15000.00    4254
7500.00     4069
500.00      2811
            ...
4365.02        1
4872.92        1
752.83         1
1405.79        1
48666.83       1
Name: availableMoney, Length: 521916, dtype: int64
**************************************************
transactionDateTime 2016-12-25T14:04:15    4
2016-05-28T14:24:41    4
2016-06-02T11:27:00    3
2016-04-24T22:44:16    3
2016-04-14T13:11:10    3
                      ..
2016-09-11T13:32:42    1
2016-09-11T13:35:34    1
2016-09-11T13:38:27    1
2016-09-11T13:57:50    1
2016-12-30T20:10:29    1
Name: transactionDateTime, Length: 776637, dtype: int64
**************************************************
transactionAmount 0.00      22225
8.21        132
49.30       125
8.81        124
4.39        120
          ...
534.26        1
475.93        1
732.02        1
518.19        1
624.07        1
Name: transactionAmount, Length: 66038, dtype: int64
**************************************************
merchantName Uber                             25613
Lyft                             25523
oldnavy.com                      16992
staples.com                      16980
alibaba.com                      16959
                                 ...
Sprint Communications #561941        2
Runners #383214                      2
Curves #849125                       1
EZ Wireless #149871                  1
TMobile Wireless #602341             1
Name: merchantName, Length: 2490, dtype: int64
**************************************************
acqCountry US     774709
         4562
MEX      3130
CAN      2424
PR       1538
Name: acqCountry, dtype: int64
**************************************************
merchantCountryCode US     778511
MEX      3143
CAN      2426
PR       1559
          724
Name: merchantCountryCode, dtype: int64
**************************************************
posEntryMode 05    315035
09    236481
02    195934
90     19576
80     15283
        4054
Name: posEntryMode, dtype: int64
**************************************************
posConditionCode 01    628787
08    149634
99      7533
         409
Name: posConditionCode, dtype: int64
**************************************************
merchantCategoryCode online_retail           202156
fastfood                112138
entertainment            80098
food                     75490
online_gifts             66238
rideshare                51136
hotels                   34097
fuel                     23910
subscriptions            22901
auto                     21651
health                   19092
personal care            18964
airline                  15412
mobileapps               14990
online_subscriptions     11067
furniture                 7432
food_delivery             6000
gym                       2209
cable/phone               1382
Name: merchantCategoryCode, dtype: int64
**************************************************
currentExpDate 03/2029    5103
08/2024    5087
10/2023    5075
05/2027    5063
01/2021    5041
           ...
02/2033    4276
02/2029    4260
02/2026    4234
12/2019    4028
08/2033    1874
Name: currentExpDate, Length: 165, dtype: int64
**************************************************
accountOpenDate 2014-06-21    33623
2014-09-30    13335
2014-05-22    11353
2012-10-09    10867
2014-10-02    10653
              ...
2006-05-12        1
2014-04-18        1
2006-12-22        1
2011-10-16        1
2009-11-27        1
Name: accountOpenDate, Length: 1820, dtype: int64
**************************************************
dateOfLastAddressChange 2016-03-15    3819
2016-01-06    3740
2016-01-04    3558
2016-06-08    3355
2016-04-04    3194
              ...
2009-11-27       1
2012-12-10       1
2014-04-18       1
2012-02-17       1
2009-05-14       1
Name: dateOfLastAddressChange, Length: 2184, dtype: int64
**************************************************
cardCVV 869    33749
289    15509
640    10804
455    10279
959     7024
       ...
653       33
825       29
183       28
125       23
566       19
Name: cardCVV, Length: 899, dtype: int64
**************************************************
enteredCVV 869    33424
289    15401
640    10731
455    10176
959     6963
       ...
070        1
033        1
018        1
093        1
006        1
Name: enteredCVV, Length: 976, dtype: int64
**************************************************
cardLast4Digits 593     32946
2194    10867
6002    10172
6580     6747
8502     6553
        ...
708         1
1326        1
3655        1
5598        1
1803        1
Name: cardLast4Digits, Length: 5246, dtype: int64
**************************************************
transactionType PURCHASE                745193
REVERSAL                 20303
ADDRESS_VERIFICATION     20169
                           698
Name: transactionType, dtype: int64
**************************************************
echoBuffer     786363
Name: echoBuffer, dtype: int64
**************************************************
currentBalance 0.00       33678
8.46          26
29.42         19
5.67          19
59.68         18
           ...
1516.36        1
1411.88        1
1155.35        1
1063.49        1
1233.85        1
Name: currentBalance, Length: 487318, dtype: int64
**************************************************
merchantCity     786363
Name: merchantCity, dtype: int64
**************************************************
merchantState     786363
Name: merchantState, dtype: int64
**************************************************
merchantZip     786363
Name: merchantZip, dtype: int64
**************************************************
cardPresent False    433495
True     352868
Name: cardPresent, dtype: int64
**************************************************
posOnPremises     786363
Name: posOnPremises, dtype: int64
**************************************************
recurringAuthInd     786363
Name: recurringAuthInd, dtype: int64
**************************************************
expirationDateKeyInMatch False    785320
True       1043
Name: expirationDateKeyInMatch, dtype: int64
**************************************************
isFraud False    773946
True      12417
Name: isFraud, dtype: int64
**************************************************

In [8]:
# The following columns have nothing in them, let's drop them
df.drop(['echoBuffer', 'merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd'], axis=1, inplace=True)

In [9]:

df[df.accountNumber != df.customerId]

Empty DataFrame
Columns: [accountNumber, customerId, creditLimit, availableMoney, transactionDateTime, transactionAmount, merchantName, acqCountry, merchantCountryCode, posEntryMode, posConditionCode, merchantCategoryCode, currentExpDate, accountOpenDate, dateOfLastAddressChange, cardCVV, enteredCVV, cardLast4Digits, transactionType, currentBalance, cardPresent, expirationDateKeyInMatch, isFraud]
Index: []

[0 rows x 23 columns]

In [10]:
# account number and customerid are all the same, removing one
df.drop(['accountNumber'], axis=1, inplace=True)

In [11]:
# There aren't NAs but there are empty strings
for col in df.columns:
    print(col, (df[col] == '').sum())

customerId 0
creditLimit 0
availableMoney 0
transactionDateTime 0
transactionAmount 0
merchantName 0
acqCountry 4562
merchantCountryCode 724
posEntryMode 4054
posConditionCode 409
merchantCategoryCode 0
currentExpDate 0
accountOpenDate 0
dateOfLastAddressChange 0
cardCVV 0
enteredCVV 0
cardLast4Digits 0
transactionType 698
currentBalance 0
cardPresent 0
expirationDateKeyInMatch 0
isFraud 0

In [12]:
# I'm going to remove all of the rows with empty values because there aren't that many compared to the total
print(df.shape)
df = df[df.acqCountry != '']
df = df[df.merchantCountryCode != '']
df = df[df.posEntryMode != '']
df = df[df.posConditionCode != '']
df = df[df.transactionType != '']

(786363, 22)

In [13]:
df.shape

(776668, 22)

In [14]:
df.head()

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,5000.0,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.0,False,False,False
1,737265056,5000.0,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,True,False,False
2,737265056,5000.0,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
3,737265056,5000.0,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
4,830329091,5000.0,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False

In [15]:
# converting date columns to datetime 
df.transactionDateTime = pd.to_datetime(df.transactionDateTime)
df.accountOpenDate = pd.to_datetime(df.accountOpenDate)
df.dateOfLastAddressChange = pd.to_datetime(df.dateOfLastAddressChange)
df.currentExpDate = pd.to_datetime(df.currentExpDate)

In [16]:
df.head()

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,5000.0,5000.0,2016-08-13 14:27:32,98.55,Uber,US,US,02,01,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.0,False,False,False
1,737265056,5000.0,5000.0,2016-10-11 05:05:54,74.51,AMC #191138,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,True,False,False
2,737265056,5000.0,5000.0,2016-11-08 09:18:39,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
3,737265056,5000.0,5000.0,2016-12-10 02:14:50,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
4,830329091,5000.0,5000.0,2016-03-24 21:04:46,71.18,Tim Hortons #947751,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 776668 entries, 0 to 786362
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customerId                776668 non-null  object
 1   creditLimit               776668 non-null  float64
 2   availableMoney            776668 non-null  float64
 3   transactionDateTime       776668 non-null  datetime64[ns]
 4   transactionAmount         776668 non-null  float64
 5   merchantName              776668 non-null  object
 6   acqCountry                776668 non-null  object
 7   merchantCountryCode       776668 non-null  object
 8   posEntryMode              776668 non-null  object
 9   posConditionCode          776668 non-null  object
 10  merchantCategoryCode      776668 non-null  object
 11  currentExpDate            776668 non-null  datetime64[ns]
 12  accountOpenDate           776668 non-null  datetime64[ns]
 13  dateOfLastAddressChange   776668 non-null  datetime64[ns]
 14  cardCVV                   776668 non-null  object
 15  enteredCVV                776668 non-null  object
 16  cardLast4Digits           776668 non-null  object
 17  transactionType           776668 non-null  object
 18  currentBalance            776668 non-null  float64
 19  cardPresent               776668 non-null  bool
 20  expirationDateKeyInMatch  776668 non-null  bool
 21  isFraud                   776668 non-null  bool
dtypes: bool(3), datetime64[ns](4), float64(4), object(11)
memory usage: 120.7+ MB

In [18]:
df[(df.cardCVV != df.enteredCVV)].isFraud.value_counts(normalize=True)

False    0.971429
True     0.028571
Name: isFraud, dtype: float64

In [19]:
df.isFraud.value_counts(normalize=True)

False    0.984593
True     0.015407
Name: isFraud, dtype: float64

In [20]:
for col in df.columns:
    print(col, df[col].value_counts())
    print('*'*50)

customerId 380680241    32467
882815134    13022
570884863    10732
246251253    10048
369308035     7137
             ...
749645399        1
220057198        1
456500351        1
249507761        1
533349434        1
Name: customerId, Length: 4997, dtype: int64
**************************************************
creditLimit 5000.0     199492
15000.0    137572
7500.0      96719
2500.0      74477
20000.0     67785
10000.0     56183
50000.0     48122
1000.0      35944
250.0       33612
500.0       26762
Name: creditLimit, dtype: int64
**************************************************
availableMoney 250.00      5951
5000.00     5345
15000.00    4204
7500.00     4006
2500.00     2779
            ...
7352.08        1
7099.07        1
7489.91        1
3699.18        1
48666.83       1
Name: availableMoney, Length: 517321, dtype: int64
**************************************************
transactionDateTime 2016-12-25 14:04:15    4
2016-05-28 14:24:41    4
2016-04-30 20:27:34    3
2016-05-30 21:13:24    3
2016-03-19 02:54:51    3
                      ..
2016-09-11 03:44:22    1
2016-09-11 04:07:00    1
2016-09-11 04:07:59    1
2016-09-11 04:20:17    1
2016-12-30 20:10:29    1
Name: transactionDateTime, Length: 767184, dtype: int64
**************************************************
transactionAmount 0.00       21981
8.21         131
49.30        124
8.81         124
4.39         120
           ...
1478.98        1
824.64         1
575.70         1
438.83         1
624.07         1
Name: transactionAmount, Length: 65851, dtype: int64
**************************************************
merchantName Uber                             25292
Lyft                             25218
oldnavy.com                      16790
staples.com                      16775
alibaba.com                      16764
                                 ...
Sprint Communications #561941        2
Runners #383214                      2
EZ Wireless #149871                  1
Curves #849125                       1
TMobile Wireless #602341             1
Name: merchantName, Length: 2489, dtype: int64
**************************************************
acqCountry US     769620
MEX      3110
CAN      2406
PR       1532
Name: acqCountry, dtype: int64
**************************************************
merchantCountryCode US     769621
MEX      3107
CAN      2399
PR       1541
Name: merchantCountryCode, dtype: int64
**************************************************
posEntryMode 05    312710
09    234776
02    194556
90     19437
80     15189
Name: posEntryMode, dtype: int64
**************************************************
posConditionCode 01    621279
08    147973
99      7416
Name: posConditionCode, dtype: int64
**************************************************
merchantCategoryCode online_retail           199680
fastfood                110785
entertainment            79149
food                     74482
online_gifts             65424
rideshare                50510
hotels                   33669
fuel                     23631
subscriptions            22630
auto                     21345
health                   18854
personal care            18726
airline                  15188
mobileapps               14787
online_subscriptions     10928
furniture                 7347
food_delivery             6000
gym                       2183
cable/phone               1350
Name: merchantCategoryCode, dtype: int64
**************************************************
currentExpDate 2024-08-01    5037
2029-03-01    5035
2023-10-01    5033
2027-05-01    5007
2021-01-01    4979
              ...
2033-02-01    4224
2029-02-01    4210
2026-02-01    4184
2019-12-01    3976
2033-08-01    1850
Name: currentExpDate, Length: 165, dtype: int64
**************************************************
accountOpenDate 2014-06-21    33212
2014-09-30    13168
2014-05-22    11192
2012-10-09    10732
2014-10-02    10524
              ...
2014-04-18        1
2011-10-16        1
2006-12-22        1
2006-05-12        1
2009-11-27        1
Name: accountOpenDate, Length: 1818, dtype: int64
**************************************************
dateOfLastAddressChange 2016-03-15    3773
2016-01-06    3699
2016-01-04    3514
2016-06-08    3321
2016-04-04    3153
              ...
2012-05-23       1
2013-05-23       1
2009-11-27       1
2012-02-17       1
2007-12-21       1
Name: dateOfLastAddressChange, Length: 2182, dtype: int64
**************************************************
cardCVV 869    33351
289    15319
640    10665
455    10153
959     6946
       ...
653       33
825       29
183       28
125       23
566       18
Name: cardCVV, Length: 899, dtype: int64
**************************************************
enteredCVV 869    33027
289    15212
640    10592
455    10050
959     6885
       ...
054        1
011        1
014        1
024        1
006        1
Name: enteredCVV, Length: 976, dtype: int64
**************************************************
cardLast4Digits 593     32560
2194    10732
6002    10048
6580     6651
8502     6479
        ...
6636        1
8417        1
9427        1
8247        1
1803        1
Name: cardLast4Digits, Length: 5242, dtype: int64
**************************************************
transactionType PURCHASE                736636
REVERSAL                 20062
ADDRESS_VERIFICATION     19970
Name: transactionType, dtype: int64
**************************************************
currentBalance 0.00       33270
8.46          26
5.67          19
29.42         19
18.86         17
           ...
2450.10        1
2384.38        1
1210.86        1
1090.48        1
1233.85        1
Name: currentBalance, Length: 483290, dtype: int64
**************************************************
cardPresent False    428159
True     348509
Name: cardPresent, dtype: int64
**************************************************
expirationDateKeyInMatch False    775642
True       1026
Name: expirationDateKeyInMatch, dtype: int64
**************************************************
isFraud False    764702
True      11966
Name: isFraud, dtype: int64
**************************************************

In [21]:
import sweetviz as sv
my_report = sv.analyze(df)
my_report.show_html()

Done! Use 'show' commands to display/save.   |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:00 -> (00:00 left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [22]:
df.to_csv('./Data/Processed/transactions.csv')